@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav p {
    @apply font-Montserrat font-[600];
  }
  nav p.active {
    background: linear-gradient(270deg, #00ffd1 -16.84%, #7e60ff 100%);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

    @apply w-[122px] h-[29px] grid place-items-center text-black rounded-tr-[8px] rounded-bl-[8px];
  }
  nav > span {
    @apply text-[10px] text-white/50;
  }

  .navbar .icons > div {
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    @apply w-[80px] h-[29px] grid place-items-center;
  }
  .navbar .icons > div.active {
    @apply bg-white rounded-tr-[8px] rounded-bl-[8px];
  }

  .token .token-box {
    @apply relative w-[360px] flex justify-center items-center;
  }

  .token .token-box > div {
    @apply mt-[30px] w-[290px] absolute;
  }
  .token .token-box > div > div {
    @apply size-[26px] rounded-full bg-[#D9D9D9];
  }
  .token .token-box h3 {
    font-family: PilatExtended-DemiBold;
    background: linear-gradient(
      265.94deg,
      #5127dd 0%,
      #0b061f 28.27%,
      #5629ea 50.82%,
      #f433ff 73.24%,
      #ffd2a2 102.52%
    );

    @apply text-[14px] uppercase mb-[5px] clip-text;
  }
  .token .token-box p {
    @apply text-[14px] opacity-70;
  }
}

@layer utilities {
  /* Regular */
  @font-face {
    font-family: "PilatExtended-Regular";
    src: url("./assets/fonts/PilatExtended-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  /* Black */
  @font-face {
    font-family: "PilatExtended-Black";
    src: url("./assets/fonts/PilatExtended-Black.woff2") format("woff2");
    font-weight: 900; /* Adjust as needed */
    font-style: normal;
  }

  /* Bold */
  @font-face {
    font-family: "PilatExtended-Bold";
    src: url("./assets/fonts/PilatExtended-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  /* DemiBold */
  @font-face {
    font-family: "PilatExtended-DemiBold";
    src: url("./assets/fonts/PilatExtended-DemiBold.woff2") format("woff2");
    font-weight: 600; /* Adjust as needed */
    font-style: normal;
  }

  /* Heavy */
  @font-face {
    font-family: "PilatExtended-Heavy";
    src: url("./assets/fonts/PilatExtended-Heavy.woff2") format("woff2");
    font-weight: 900; /* Adjust as needed */
    font-style: normal;
  }

  /* Light */
  @font-face {
    font-family: "PilatExtended-Light";
    src: url("./assets/fonts/PilatExtended-Light.woff2") format("woff2");
    font-weight: 300; /* Adjust as needed */
    font-style: normal;
  }

  /* Book */
  @font-face {
    font-family: "PilatExtended-Book";
    src: url("./assets/fonts/PilatExtended-Book.woff2") format("woff2");
    font-weight: 400; /* Adjust as needed */
    font-style: normal;
  }

  /* Thin */
  @font-face {
    font-family: "PilatExtended-Thin";
    src: url("./assets/fonts/PilatExtended-Thin.woff2") format("woff2");
    font-weight: 100; /* Adjust as needed */
    font-style: normal;
  }

  body {
    font-family: "PilatExtended-Regular", sans-serif;
    background: linear-gradient(0deg, #000513, #000513),
      linear-gradient(180deg, rgba(1, 0, 1, 0) 51.91%, #010001 69.15%);
  }

  .text-gradient {
    background: linear-gradient(180deg, #ffffff 0%, #898989 118.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-outline {
    -webkit-text-stroke-width: 1.88px;
    -webkit-text-stroke-color: #41b0e81f;
  }

  .clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heroes {
    background: linear-gradient(
      180deg,
      rgba(128, 98, 255, 0) 7.35%,
      rgba(0, 255, 209, 0.7) 117.93%
    );
  }

  .heroes-shape1 {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  }
  .heroes-shape2 {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .token-box1 {
    width: 334px;
    height: 569px;
    clip-path: polygon(
      299.561px 0px,
      32px 0px,
      32px 0px,
      26.8094367px 0.4188263px,
      21.8855296px 1.6313824px,
      17.2941629px 3.5717841px,
      13.1012208px 6.1741472px,
      9.3725875px 9.3725875px,
      6.1741472px 13.1012208px,
      3.5717841px 17.2941629px,
      1.6313824px 21.8855296px,
      0.4188263px 26.8094367px,
      5.2977802982864e-31px 32px,
      0px 536.563px,
      0px 536.563px,
      0.9867455px 544.675222px,
      3.751384px 551.810056px,
      8.0005185px 557.846254px,
      13.440752px 562.662568px,
      19.7786875px 566.13775px,
      26.720928px 568.150552px,
      33.9740765px 568.579726px,
      41.244736px 567.304024px,
      48.2395095px 564.202198px,
      54.665px 559.153px,
      324.665px 288.254px,
      324.665px 288.254px,
      326.379034px 286.392629px,
      327.931392px 284.414432px,
      329.317658px 282.330083px,
      330.533416px 280.150256px,
      331.57425px 277.885625px,
      332.435744px 275.546864px,
      333.113482px 273.144647px,
      333.603048px 270.689648px,
      333.900026px 268.192541px,
      334px 265.664px,
      334px 34.4475px,
      334px 34.4475px,
      333.900026px 31.9190888px,
      333.603048px 29.4220744px,
      333.113482px 26.9671356px,
      332.435744px 24.5649512px,
      331.57425px 22.2262px,
      330.533416px 19.9615608px,
      329.317658px 17.7817124px,
      327.931392px 15.6973336px,
      326.379034px 13.7191032px,
      324.665px 11.8577px,
      322.226px 9.41022px,
      322.226px 9.41022px,
      320.3618px 7.6828581px,
      318.3794px 6.118272px,
      316.2896px 4.7209491px,
      314.1032px 3.4953768px,
      311.831px 2.4460425px,
      309.4838px 1.5774336px,
      307.0724px 0.8940375px,
      304.6076px 0.4003416px,
      302.1002px 0.1008333px,
      299.561px 1.2520849591474e-31px
    );
    background-color: #5741b4;
  }
  .token-box2 {
    width: 99px;
    height: 138px;
    clip-path: polygon(
      10.7511px 138px,
      67px 138px,
      67px 138px,
      72.1905633px 137.581171px,
      77.1144704px 136.368608px,
      81.7058371px 134.428197px,
      85.8987792px 131.825824px,
      89.6274125px 128.627375px,
      92.8258528px 124.898736px,
      95.4282159px 120.705793px,
      97.3686176px 116.114432px,
      98.5811737px 111.190539px,
      99px 106px,
      99px 32.7401px,
      99px 32.7401px,
      98.0108163px 24.61709598px,
      95.2396704px 17.47521424px,
      90.9811701px 11.43572426px,
      85.5299232px 6.61989552px,
      79.1805375px 3.1489975px,
      72.2276208px 1.14429968px,
      64.9657809px 0.72707154px,
      57.6896256px 2.01858256px,
      50.6937627px 5.14010222px,
      44.2728px 10.2129px,
      9.27283px 45.5236px,
      9.27283px 45.5236px,
      7.56974646px 47.3827887px,
      6.02745728px 49.3576256px,
      4.65031462px 51.4375369px,
      3.44267064px 53.6119488px,
      2.4088775px 55.8702875px,
      1.55328736px 58.2019792px,
      0.88025238px 60.5964501px,
      0.39412472px 63.0431264px,
      0.09925654px 65.5314343px,
      1.2323720646831e-31px 68.0508px,
      0px 127.249px,
      0px 127.249px,
      0.03334758px 128.095458px,
      0.13241544px 128.931464px,
      0.29574126px 129.753466px,
      0.52186272px 130.557912px,
      0.8093175px 131.34125px,
      1.15664328px 132.099928px,
      1.56237774px 132.830394px,
      2.02505856px 133.529096px,
      2.54322342px 134.192482px,
      3.11541px 134.817px,
      3.11541px 134.817px,
      3.74236818px 135.401115px,
      4.40946384px 135.93024px,
      5.11302966px 136.402845px,
      5.84939832px 136.8174px,
      6.6149025px 137.172375px,
      7.40587488px 137.46624px,
      8.21864814px 137.697465px,
      9.04955496px 137.86452px,
      9.89492802px 137.965875px,
      10.7511px 138px
    );
    background-color: #5741b4;
  }

  .ecosystem .bottom-claim {
    width: 349.786px;
    height: 88.5px;
    clip-path: polygon(
      279.493px 0.5px,
      16.5px 0.5px,
      16.5px 0.5px,
      13.98581794px 0.70286893px,
      11.60079872px 1.29020064px,
      9.37685478px 2.23008251px,
      7.34589856px 3.49060192px,
      5.5398425px 5.03984625px,
      3.99059904px 6.84590288px,
      2.73008062px 8.87685919px,
      1.79019968px 11.10080256px,
      1.20286866px 13.48582037px,
      1px 16px,
      1px 56.7412px,
      1px 56.7412px,
      1.06835174px 58.1962992px,
      1.27063272px 59.6259536px,
      1.60268158px 61.0218484px,
      2.06033696px 62.3756688px,
      2.6394375px 63.6791px,
      3.33582184px 64.9238272px,
      4.14532862px 66.1015356px,
      5.06379648px 67.2039104px,
      6.08706406px 68.2226368px,
      7.21097px 69.1494px,
      28.9294px 85.4082px,
      28.9294px 85.4082px,
      29.750552px 85.9824957px,
      30.603456px 86.5004736px,
      31.485184px 86.9611599px,
      32.392808px 87.3635808px,
      33.3234px 87.7067625px,
      34.274032px 87.9897312px,
      35.241776px 88.2115131px,
      36.223704px 88.3711344px,
      37.216888px 88.4676213px,
      38.2184px 88.5px,
      65.2861px 88.5px,
      285.5px 88.5px,
      334.286px 88.5px,
      334.286px 88.5px,
      336.800323px 88.2971308px,
      339.185424px 87.7097984px,
      341.409401px 86.7699156px,
      343.440352px 85.5093952px,
      345.246375px 83.96015px,
      346.795568px 82.1540928px,
      348.056029px 80.1231364px,
      348.995856px 77.8991936px,
      349.583147px 75.5141772px,
      349.786px 73px,
      349.786px 63.8905px,
      349.786px 63.8905px,
      349.728536px 62.5563533px,
      349.558128px 61.2418464px,
      349.277752px 59.9535391px,
      348.890384px 58.6979912px,
      348.399px 57.4817625px,
      347.806576px 56.3114128px,
      347.116088px 55.1935019px,
      346.330512px 54.1345896px,
      345.452824px 53.1412357px,
      344.486px 52.22px,
      289.693px 4.32941px,
      289.693px 4.32941px,
      288.822445px 3.62226326px,
      287.90788px 2.98312448px,
      286.953355px 2.41350782px,
      285.96292px 1.91492744px,
      284.940625px 1.4888975px,
      283.89052px 1.13693216px,
      282.816655px 0.86054558px,
      281.72308px 0.66125192px,
      280.613845px 0.54056534px,
      279.493px 0.5px
    );
  }
  .ecosystem .top-claim {
    width: 280.5px;
    height: 88.5px;
    clip-path: polygon(
      71.0061px 88.5px,
      265px 88.5px,
      265px 88.5px,
      267.51408px 88.2971308px,
      269.89904px 87.7097984px,
      272.12296px 86.7699156px,
      274.15392px 85.5093952px,
      275.96px 83.96015px,
      277.50928px 82.1540928px,
      278.76984px 80.1231364px,
      279.70976px 77.8991936px,
      280.29712px 75.5141772px,
      280.5px 73px,
      280.5px 32.2589px,
      280.5px 32.2589px,
      280.431635px 30.8037737px,
      280.22932px 29.3740976px,
      279.897225px 27.9781859px,
      279.43952px 26.6243528px,
      278.860375px 25.3209125px,
      278.16396px 24.0761792px,
      277.354445px 22.8984671px,
      276.436px 21.7960904px,
      275.412795px 20.7773633px,
      274.289px 19.8506px,
      252.57px 3.59178px,
      252.57px 3.59178px,
      251.748848px 3.01749458px,
      250.895944px 2.49952384px,
      250.014216px 2.03884206px,
      249.106592px 1.63642352px,
      248.176px 1.2932425px,
      247.225368px 1.01027328px,
      246.257624px 0.78849014px,
      245.275696px 0.62886736px,
      244.282512px 0.53237922px,
      243.281px 0.5px,
      216.214px 0.5px,
      64.9994px 0.5px,
      16.2129px 0.5px,
      16.2129px 0.5px,
      13.698720118px 0.70286893px,
      11.313701624px 1.29020064px,
      9.089757246px 2.23008251px,
      7.058799712px 3.49060192px,
      5.25274175px 5.03984625px,
      3.703496088px 6.84590288px,
      2.442975454px 8.87685919px,
      1.503092576px 11.10080256px,
      0.915760182px 13.48582037px,
      0.712891px 16px,
      0.712891px 25.1095px,
      0.712891px 25.1095px,
      0.770355142px 26.4436467px,
      0.940761856px 27.7581536px,
      1.221132574px 29.0464609px,
      1.608488728px 30.3020088px,
      2.09985175px 31.5182375px,
      2.692243072px 32.6885872px,
      3.382684126px 33.8064981px,
      4.168196344px 34.8654104px,
      5.045801158px 35.8587643px,
      6.01252px 36.78px,
      60.8057px 84.6706px,
      60.8057px 84.6706px,
      61.6764228px 85.3777416px,
      62.5910824px 86.0168768px,
      63.5456456px 86.5864912px,
      64.5360792px 87.0850704px,
      65.55835px 87.5111px,
      66.6084248px 87.8630656px,
      67.6822704px 88.1394528px,
      68.7758536px 88.3387472px,
      69.8851412px 88.4594344px,
      71.0061px 88.5px
    );
  }
  .ecosystem .claim:hover {
    background: linear-gradient(
      263.26deg,
      #5629ea 0%,
      rgba(0, 209, 255, 0.53) 112.15%
    );
  }
  .blog .article1 {
    width: 383.5px;
    height: 129px;
    clip-path: polygon(
      210.873px 0.5px,
      16px 0.5px,
      16px 0.5px,
      13.48582523px 0.70286893px,
      11.10081024px 1.29020064px,
      8.87686801px 2.23008251px,
      6.84591152px 3.49060192px,
      5.03985375px 5.03984625px,
      3.49060768px 6.84590288px,
      2.23008629px 8.87685919px,
      1.29020256px 11.10080256px,
      0.70286947px 13.48582037px,
      0.5px 16px,
      0.5px 64.75px,
      0.5px 90.4949px,
      0.5px 90.4949px,
      0.54866769px 91.7226937px,
      0.69323152px 92.9351616px,
      0.93153263px 94.1270939px,
      1.26141216px 95.2932808px,
      1.68071125px 96.4285125px,
      2.18727104px 97.5275792px,
      2.77893267px 98.5852711px,
      3.45353728px 99.5963784px,
      4.20892601px 100.5556913px,
      5.04294px 101.458px,
      28.0609px 124.463px,
      28.0609px 124.463px,
      28.9630488px 125.295951px,
      29.9220704px 126.050368px,
      30.9327676px 126.724097px,
      31.9899432px 127.314984px,
      33.0884px 127.820875px,
      34.2229408px 128.239616px,
      35.3883684px 128.569053px,
      36.5794856px 128.807032px,
      37.7910952px 128.951399px,
      39.018px 129px,
      64.7864px 129px,
      210.873px 129px,
      368px 129px,
      368px 129px,
      370.51408px 128.79712px,
      372.89904px 128.20976px,
      375.12296px 127.26984px,
      377.15392px 126.00928px,
      378.96px 124.46px,
      380.50928px 122.65392px,
      381.76984px 120.62296px,
      382.70976px 118.39904px,
      383.29712px 116.01408px,
      383.5px 113.5px,
      383.5px 71.3801px,
      383.5px 71.3801px,
      383.451339px 70.1523061px,
      383.306792px 68.9398368px,
      383.068513px 67.7479007px,
      382.738656px 66.5817064px,
      382.319375px 65.4464625px,
      381.812824px 64.3473776px,
      381.221157px 63.2896603px,
      380.546528px 62.2785192px,
      379.791091px 61.3191629px,
      378.957px 60.4168px,
      323.546px 5.03677px,
      323.546px 5.03677px,
      322.643746px 4.20384245px,
      321.684648px 3.4494528px,
      320.673902px 2.77575355px,
      319.616704px 2.1848972px,
      318.51825px 1.67903625px,
      317.383736px 1.2603232px,
      316.218358px 0.93091055px,
      315.027312px 0.6929508px,
      313.815794px 0.54859645px,
      312.589px 0.5px,
      210.873px 0.5px
    );
  }
  .blog .article2 {
    width: 383.5px;
    height: 129px;
    clip-path: polygon(
      210.873px 129px,
      16px 129px,
      16px 129px,
      13.48582523px 128.79712px,
      11.10081024px 128.20976px,
      8.87686801px 127.26984px,
      6.84591152px 126.00928px,
      5.03985375px 124.46px,
      3.49060768px 122.65392px,
      2.23008629px 120.62296px,
      1.29020256px 118.39904px,
      0.70286947px 116.01408px,
      0.5px 113.5px,
      0.5px 64.75px,
      0.5px 39.0051px,
      0.5px 39.0051px,
      0.54866769px 37.7773061px,
      0.69323152px 36.5648368px,
      0.93153263px 35.3729007px,
      1.26141216px 34.2067064px,
      1.68071125px 33.0714625px,
      2.18727104px 31.9723776px,
      2.77893267px 30.9146603px,
      3.45353728px 29.9035192px,
      4.20892601px 28.9441629px,
      5.04294px 28.0418px,
      28.0609px 5.03677px,
      28.0609px 5.03677px,
      28.9630488px 4.20384245px,
      29.9220704px 3.4494528px,
      30.9327676px 2.77575355px,
      31.9899432px 2.1848972px,
      33.0884px 1.67903625px,
      34.2229408px 1.2603232px,
      35.3883684px 0.93091055px,
      36.5794856px 0.6929508px,
      37.7910952px 0.54859645px,
      39.018px 0.5px,
      64.7864px 0.5px,
      210.873px 0.5px,
      368px 0.5px,
      368px 0.5px,
      370.51408px 0.70286893px,
      372.89904px 1.29020064px,
      375.12296px 2.23008251px,
      377.15392px 3.49060192px,
      378.96px 5.03984625px,
      380.50928px 6.84590288px,
      381.76984px 8.87685919px,
      382.70976px 11.10080256px,
      383.29712px 13.48582037px,
      383.5px 16px,
      383.5px 58.1199px,
      383.5px 58.1199px,
      383.451339px 59.3476939px,
      383.306792px 60.5601632px,
      383.068513px 61.7520993px,
      382.738656px 62.9182936px,
      382.319375px 64.0535375px,
      381.812824px 65.1526224px,
      381.221157px 66.2103397px,
      380.546528px 67.2214808px,
      379.791091px 68.1808371px,
      378.957px 69.0832px,
      323.546px 124.463px,
      323.546px 124.463px,
      322.643746px 125.295951px,
      321.684648px 126.050368px,
      320.673902px 126.724097px,
      319.616704px 127.314984px,
      318.51825px 127.820875px,
      317.383736px 128.239616px,
      316.218358px 128.569053px,
      315.027312px 128.807032px,
      313.815794px 128.951399px,
      312.589px 129px,
      210.873px 129px
    );
  }
}
