@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav p {
    @apply font-Montserrat font-[600];
  }
  nav p.active {
    background: linear-gradient(270deg, #00ffd1 -16.84%, #7e60ff 100%);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

    @apply w-[122px] h-[29px] grid place-items-center text-black rounded-tr-[8px] rounded-bl-[8px];
  }
  nav > span {
    @apply text-[10px] text-white/50;
  }

  .navbar .icons > div {
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    @apply w-[80px] h-[29px] grid place-items-center;
  }
  .navbar .icons > div.active {
    @apply bg-white rounded-tr-[8px] rounded-bl-[8px];
  }

  .token .token-box {
    @apply relative w-[360px] flex justify-center items-center;
  }

  .token .token-box > div {
    @apply mt-[30px] w-[290px] absolute;
  }
  .token .token-box > div > div {
    @apply size-[26px] rounded-full bg-[#D9D9D9];
  }
  .token .token-box h3 {
    font-family: PilatExtended-DemiBold;
    background: linear-gradient(
      265.94deg,
      #5127dd 0%,
      #0b061f 28.27%,
      #5629ea 50.82%,
      #f433ff 73.24%,
      #ffd2a2 102.52%
    );

    @apply text-[14px] uppercase mb-[5px] clip-text;
  }
  .token .token-box p {
    @apply text-[14px] opacity-70;
  }
}

@layer utilities {
  /* Regular */
  @font-face {
    font-family: "PilatExtended-Regular";
    src: url("./assets/fonts/PilatExtended-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  /* Black */
  @font-face {
    font-family: "PilatExtended-Black";
    src: url("./assets/fonts/PilatExtended-Black.woff2") format("woff2");
    font-weight: 900; /* Adjust as needed */
    font-style: normal;
  }

  /* Bold */
  @font-face {
    font-family: "PilatExtended-Bold";
    src: url("./assets/fonts/PilatExtended-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  /* DemiBold */
  @font-face {
    font-family: "PilatExtended-DemiBold";
    src: url("./assets/fonts/PilatExtended-DemiBold.woff2") format("woff2");
    font-weight: 600; /* Adjust as needed */
    font-style: normal;
  }

  /* Heavy */
  @font-face {
    font-family: "PilatExtended-Heavy";
    src: url("./assets/fonts/PilatExtended-Heavy.woff2") format("woff2");
    font-weight: 900; /* Adjust as needed */
    font-style: normal;
  }

  /* Light */
  @font-face {
    font-family: "PilatExtended-Light";
    src: url("./assets/fonts/PilatExtended-Light.woff2") format("woff2");
    font-weight: 300; /* Adjust as needed */
    font-style: normal;
  }

  /* Book */
  @font-face {
    font-family: "PilatExtended-Book";
    src: url("./assets/fonts/PilatExtended-Book.woff2") format("woff2");
    font-weight: 400; /* Adjust as needed */
    font-style: normal;
  }

  /* Thin */
  @font-face {
    font-family: "PilatExtended-Thin";
    src: url("./assets/fonts/PilatExtended-Thin.woff2") format("woff2");
    font-weight: 100; /* Adjust as needed */
    font-style: normal;
  }

  body {
    font-family: "PilatExtended-Regular", sans-serif;
    background: linear-gradient(0deg, #000513, #000513),
      linear-gradient(180deg, rgba(1, 0, 1, 0) 51.91%, #010001 69.15%);
  }

  .text-gradient {
    background: linear-gradient(180deg, #ffffff 0%, #898989 118.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-outline {
    -webkit-text-stroke-width: 1.88px;
    -webkit-text-stroke-color: #41b0e81f;
  }

  .clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heroes {
    background: linear-gradient(
      180deg,
      rgba(128, 98, 255, 0) 7.35%,
      rgba(0, 255, 209, 0.7) 117.93%
    );
  }

  .heroes-shape1 {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
  }
  .heroes-shape2 {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .token-box1 {
    width: 334px;
    height: 569px;
    clip-path: polygon(
      299.561px 0px,
      32px 0px,
      32px 0px,
      26.8094367px 0.4188263px,
      21.8855296px 1.6313824px,
      17.2941629px 3.5717841px,
      13.1012208px 6.1741472px,
      9.3725875px 9.3725875px,
      6.1741472px 13.1012208px,
      3.5717841px 17.2941629px,
      1.6313824px 21.8855296px,
      0.4188263px 26.8094367px,
      5.2977802982864e-31px 32px,
      0px 536.563px,
      0px 536.563px,
      0.9867455px 544.675222px,
      3.751384px 551.810056px,
      8.0005185px 557.846254px,
      13.440752px 562.662568px,
      19.7786875px 566.13775px,
      26.720928px 568.150552px,
      33.9740765px 568.579726px,
      41.244736px 567.304024px,
      48.2395095px 564.202198px,
      54.665px 559.153px,
      324.665px 288.254px,
      324.665px 288.254px,
      326.379034px 286.392629px,
      327.931392px 284.414432px,
      329.317658px 282.330083px,
      330.533416px 280.150256px,
      331.57425px 277.885625px,
      332.435744px 275.546864px,
      333.113482px 273.144647px,
      333.603048px 270.689648px,
      333.900026px 268.192541px,
      334px 265.664px,
      334px 34.4475px,
      334px 34.4475px,
      333.900026px 31.9190888px,
      333.603048px 29.4220744px,
      333.113482px 26.9671356px,
      332.435744px 24.5649512px,
      331.57425px 22.2262px,
      330.533416px 19.9615608px,
      329.317658px 17.7817124px,
      327.931392px 15.6973336px,
      326.379034px 13.7191032px,
      324.665px 11.8577px,
      322.226px 9.41022px,
      322.226px 9.41022px,
      320.3618px 7.6828581px,
      318.3794px 6.118272px,
      316.2896px 4.7209491px,
      314.1032px 3.4953768px,
      311.831px 2.4460425px,
      309.4838px 1.5774336px,
      307.0724px 0.8940375px,
      304.6076px 0.4003416px,
      302.1002px 0.1008333px,
      299.561px 1.2520849591474e-31px
    );
    background-color: #5741b4;
  }
  .token-box2 {
    width: 99px;
    height: 138px;
    clip-path: polygon(
      10.7511px 138px,
      67px 138px,
      67px 138px,
      72.1905633px 137.581171px,
      77.1144704px 136.368608px,
      81.7058371px 134.428197px,
      85.8987792px 131.825824px,
      89.6274125px 128.627375px,
      92.8258528px 124.898736px,
      95.4282159px 120.705793px,
      97.3686176px 116.114432px,
      98.5811737px 111.190539px,
      99px 106px,
      99px 32.7401px,
      99px 32.7401px,
      98.0108163px 24.61709598px,
      95.2396704px 17.47521424px,
      90.9811701px 11.43572426px,
      85.5299232px 6.61989552px,
      79.1805375px 3.1489975px,
      72.2276208px 1.14429968px,
      64.9657809px 0.72707154px,
      57.6896256px 2.01858256px,
      50.6937627px 5.14010222px,
      44.2728px 10.2129px,
      9.27283px 45.5236px,
      9.27283px 45.5236px,
      7.56974646px 47.3827887px,
      6.02745728px 49.3576256px,
      4.65031462px 51.4375369px,
      3.44267064px 53.6119488px,
      2.4088775px 55.8702875px,
      1.55328736px 58.2019792px,
      0.88025238px 60.5964501px,
      0.39412472px 63.0431264px,
      0.09925654px 65.5314343px,
      1.2323720646831e-31px 68.0508px,
      0px 127.249px,
      0px 127.249px,
      0.03334758px 128.095458px,
      0.13241544px 128.931464px,
      0.29574126px 129.753466px,
      0.52186272px 130.557912px,
      0.8093175px 131.34125px,
      1.15664328px 132.099928px,
      1.56237774px 132.830394px,
      2.02505856px 133.529096px,
      2.54322342px 134.192482px,
      3.11541px 134.817px,
      3.11541px 134.817px,
      3.74236818px 135.401115px,
      4.40946384px 135.93024px,
      5.11302966px 136.402845px,
      5.84939832px 136.8174px,
      6.6149025px 137.172375px,
      7.40587488px 137.46624px,
      8.21864814px 137.697465px,
      9.04955496px 137.86452px,
      9.89492802px 137.965875px,
      10.7511px 138px
    );
    background-color: #5741b4;
  }
}
